.DS_Store
.env
.env.*.php
.env.php
php_errors.log
nginx-error.log
nginx-access.log
nginx-ssl.access.log
nginx-ssl.error.log
php-errors.log
/*/*/*/composer.lock
node_modules
package-lock.json
dist
public
src/.DS_Store
src/js/libs.js
src/scss/screen.scss

/storage/*
/public/*
